@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can keep your custom global styles here */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: 'Inter', sans-serif; /* Example: Apply Inter font globally */
}
